<%= provide :title, t("relationship.follower") %>
<h4>
  <%= t "relationship.number_follower", number: @users.count %>
<h4>
<table class="table-fill">
  <thead>
    <tr>
      <th class="text-left"><%= t("user.name") %></th>
      <th class="text-left"><%= t("user.email") %></th>
      <th class="text-left"><%= t("user.address") %></th>
    </tr>
  </thead>
  <tbody class="table-hover">
    <% if @users.empty? %>
      <h2><%= t("user.empty") %></h2>
    <% else %>
      <%= render @users %>
    <% end %>
  </tbody>
</table>
