<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag(words_path, method: :get) do %>
      <%= select_tag :category, 
        options_from_collection_for_select(@categories, :id, :title, 
        params[:category_id]), include_blank: false %>
      <%= radio_button_tag :learn, t("words.radio_learn") %>
      <%= label_tag t("words.label_learn") %>
      <%= radio_button_tag :learn, t("words.radio_notlearn") %>
      <%= label_tag t("words.label_notlearn") %>
      <%= radio_button_tag :learn, t("words.radio_all") %>
      <%= label_tag t("words.label_all") %>
      <%= submit_tag t("words.submit") %>
    <% end %>
  </div>
</div>

<ul class="categories">
  <% if !@words.blank? %>
    <% @words.each.with_index do |word, index| %>
      <li>
        <div>
          <p><%= index + 1 %>. <%= word.national %></p>
        </div>
      </li>
    <% end %>
  <% else %>
    <% if params[:learn] %>
      <h2><%= t("words.alert_1") %></h2>
    <% else %>
      <h2><%= t("words.alert_2") %></h2>
    <% end %>
  <% end %>
</ul>
