<% provide :title, t("categories.title") %>

<h1><%= t("categories.title") %></h1>

<% if @categories.empty? %>
  <h2><%= t("categories.empty") %></h2>
<% else %>
  <ul class="categories">
    <% @categories.each do |category| %>
      <li>
        <div>
          <h2><%= category.title %></h2>
          <p><%= category.description %></p>
          <%= link_to t("categories.start"), "#", class: "btn btn-success btn-lg" %>
          <%= link_to t("admin.delete"), admin_category_path(category.id), method: :delete,
            data: {confirm: t("admin.confirm_delete")} %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
