<% provide :title, t(:categories_title) %>
<h1><%= t :categories_title %></h1>

<% if @categories.empty? %>
  <h2><%= t :categories_nil %></h2>
<% else %>
  <ul class="categories">
    <% @categories.each do |category| %>
      <li>
        <div>
          <h2><%= category.title %></h2>
          <p><%= category.description %></p>
          <%= link_to "Start", category, class: "btn btn-success btn-lg" %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
