<% provide(:title, t("admin.admin_all")) %>

<div class="table-title">
  <h1><%= t("admin.admin_all") %></h1>
</div>

<div class="page-center">
  <%= will_paginate %>
</div>

<table class="table-fill">
  <thead>
    <tr>
      <th class="text-left"><%= t("user.name") %></th>
      <th class="text-left"><%= t("user.email") %></th>
      <th class="text-left"><%= t("user.address") %></th>
      <th class="text-left"><%= t("admin.delete") %></th>
    </tr>
  </thead>
  <tbody class="table-hover">
    <% if @users.empty? %>
      <h2><%= t("user.empty") %></h2>
    <% else %>
      <%= render @users %>
    <% end %>
  </tbody>
</table>

<div class="page-center">
  <%= will_paginate %>
</div>
